ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

li {
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  background-color: #6495ed;
}

.map-img {
  width: 35vw;
}

.flags-img {
  width: 125px;
}

.pollution-data {
  width: 50vw;
}
